@using BlogSite.Controllers
@model class1
@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1>Api ile personel güncelleme sayfası</h1>
<form method="post">
    <label>Id</label>
    @Html.TextBoxFor(x=>x.Id, new{@class="form-control"})
    <br />
    <label>Name</label>
    @Html.TextBoxFor(x=>x.Name, new{@class="form-control"})
    <br />
    <button class="btn btn-outline-warning"> Güncelle</button>
</form>

