
@{
    ViewData["Title"] = "BlogListExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminAreaLayout.cshtml";
}

<h1>Blog List with Excel</h1>
<br />
<br />
<a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>

