<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h2 class="1m-xs"> Dashboard</h2>
                 <br />
                <h3>Projemizin bu panelinde Admin işlemleri bir Area yapısı üzerinden gerçekleşmektedir.Sol tarafta yer alan Sidebardan yardım menüsüne ulaşıp takıldığınız noktalarla ilgili destek alabilirsiniz.</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h2 class="font-bold no-margins">
                    Son Eklenen Blog
                </h2>
                <h3>@ViewBag.v1</h3>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">$ 50,992</h1>

                <h3 class="font-bold no-margins">
                    Half-year revenue margin
                </h3>
                <small>Sales marketing.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>